{% extends 'base.html' %}

{% block head_title %}欢迎 | {{ super() }}{% endblock %}

<style>
{% block style %}

/*.jumbotron {*/
/*	background-color:#0E3D14;*/
/*	color: #FFF;*/
/*}*/
{% endblock %}
</style>

  {% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
      	<div class="row">
      		<div class='col-sm-6'>
      		<h1>牵手东大</h1>
      		<p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join Us today.</p>
      		<p>
      		<a class="btn btn-lg btn-primary" href="{{ url_for('register') }}" role="button">加入我们 &raquo;</a>
      		</p>
      		</div>
      		<div class='col-sm-6' >
      			<iframe width="560" height="315" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe>
       		</div>
    		</div>
    	</div>     

    </div>    
  {% endblock  %}