
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>{% block head_title %}牵手东大{% endblock%}</title>

    {% include 'head_css.html' %}
    
    
      <style>
         {% block style %}
         {% endblock %}
         
        .navbar-static-top {
          margin-bottom: 0px !important;
        }       
      
        #flash_global{
          margin-bottom: 0px !important;
        } 
      
      </style> 
     
     
  </head>

  <body>
    {% include 'navbar.html' %}
    
     <!--flash messages-->
        {% with messages = get_flashed_messages() %}
         {% if messages %}
           {% for message in messages%}
             <div class="alert alert-warning alert-dismissible" role="alert"\
             id="flash_global" >
               <button type="button" class="close" data-dismiss="alert" \
               aria-label="Close"><span aria-hidden="true">&times;</span></button>
               {{message}}
             </div>
           {% endfor%}
         {% endif%}
       {% endwith%}
     <!--end flash messages-->  
     
    <!--jumbotron content-->
    {% block jumbotron %}
    {% endblock  %}
    <!--end jumbotron content-->
    
    <div class="container" >
       <!-- Main content --> 
        {% block content %}
        {% endblock %}
        <!--end Main content-->
    </div> <!-- /container -->

    {% include 'javascript.html' %}
    {% include 'modals.html' %}
  </body>
</html>
