    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">牵手东大</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">主页</a></li>
            <li><a href="#about">关于</a></li>
            <li><a href="#contact">联系我们</a></li>
            <!--<li class="dropdown">-->
            <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--  <ul class="dropdown-menu">-->
            <!--    <li><a href="#">Action</a></li>-->
            <!--    <li><a href="#">Another action</a></li>-->
            <!--    <li><a href="#">Something else here</a></li>-->
            <!--    <li role="separator" class="divider"></li>-->
            <!--    <li class="dropdown-header">Nav header</li>-->
            <!--    <li><a href="#">Separated link</a></li>-->
            <!--    <li><a href="#">One more separated link</a></li>-->
            <!--  </ul>-->
            <!--</li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">注册</a></li>
           
          </ul>
             <form class='navbar-form navbar-right' method='POST' action=''>
                <div class='form-group'>
                  <input type="text" class='form_control' name="username" placeholder='Username'/>
                </div>
                <div class='form-group'>
                  <input type="password" class='form_control' name="password" placeholder='Password'/>
                </div>
                  <button type="submit" class='btn btn-default'>登陆</button>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>